.categoriesLink {
  display: flex;

  .categoryCardBox {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-bottom: 5px solid #fff;
    border-radius: 10px;
    background-color: $backgroundColor;

    &:hover {
      border-color: $mainPinkColor;
    }
  }

  .categoryIcon {
    width: 75px;
    height: 75px;
    filter: invert(50%);
  }

  .categoryTitle {
    font-weight: normal;
  }
}
