.cartPageContainer {
  padding-top: 50px;

  .table {
    width: calc(100% - 20px);

    .tableRowHeading {
      border-bottom: 1px solid #fff;
    }

    .tableRowRemove {
      border-bottom: 1px solid gray;
    }
  }

  .balanceContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
  }
}
