@import "normalize.css";
@import "sanitize.css";
@import "fontface.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --base-margin: 1.6rem;
  --base-focus: #fff;
  --ctrl-border-radius: 0px;
  --base-btn-bg: rgba(90, 43, 125, 0.7);
  --base-btn-text: #e3e3e3;
  --icon-size: 20px;
  --icon-hover-bg: #fff;
  --popup-bg: black;
  --menu-hover-bg: rgba(122, 122, 122, 0.7);
  --ctrl-check-off-bg: #fff;
  --ctrl-check-on-bg: #0375ff;
  --ctrl-check-on: #fff;
  --ctrl-check-size: 18px;
  --ctrl-switch-padding: 7px 0;
  --modal-bg: #121212;
}

body {
  color: $whitTextColor;
  font:
    16px "OpenSans-Regular",
    sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}
