@import "normalize.css";
@import "sanitize.css";
@import "fontface.css";

:root {
  --base-margin: 1.6rem;
}

body {
  color: $basicColor;
  // prettier-ignore
  font: 14px "OpenSans-Regular", sans-serif;
  min-height: 100vh;
  background: top / contain url(images/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 2.2em;
  text-align: center;
}

h2 {
  font-size: 2em;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  height: fit-content; /* test for autoprefixer in postcss */
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.search-input {
  margin: 0 auto;
  padding: 12px 15px;
  border-radius: 25px;
  border: 1px solid $whiteColor;
  outline: none;
  color: $whiteColor;
  background-color: transparent;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.5); /* Placeholder text color */
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3); /* Light grey */
  border-top: 4px solid #ffffff; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
