// Colors
$basicColor: #575e72;
$backgroundColor: #121212;
$whitTextColor: #e3e3e3;
$mainPinkColor: #9933cb;
$pinkHoverColor: #7a29a2;
$darkHoverColor: #272727;
$inheritDarkerBackground: rgba(0, 0, 0, 0.5);
$inheritPinkBackground: rgba(90, 43, 125, 0.7);

//Heights
$headerHeight: 65px;
$footerHeight: 90px;
