.categoryContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.categoryCard {
  cursor: pointer;
  margin: 50px;
  width: 250px;
  height: 200px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid $whiteColor;
  border-right: 1px solid $whiteColor;
  border-bottom: 8px solid $whiteColor;
  border-left: 1px solid $whiteColor;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;

  &:hover {
    transform: scale(1.05);
    border-top: 1px solid $purpleColor;
    border-right: 1px solid $purpleColor;
    border-bottom: 8px solid $purpleColor;
    border-left: 1px solid $purpleColor;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover::before {
    opacity: 1;
  }
}

.categoryImage {
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
  filter: brightness(50%) contrast(10%) hue-rotate(210deg) saturate(150%);
}

.imageText {
  color: $basicColor;
  text-align: center;
  font-size: 1rem;
  padding: 5px 10px;
}
