.gameContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  padding: 7rem;
}

.gameCard {
  border-radius: 20px;
  box-shadow: 0 4px 8px $purpleColor;
  background-color: $blackColor;
  overflow: hidden;
}

.gameCover {
  width: 100%;
  object-fit: cover;
}

.gameInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
}

.gameTitle {
  font-size: 1em;
  margin: 0;
  padding-left: 8px;
  overflow: hidden;
  text-align: left;
  color: $whiteColor;
}

.gamePrice {
  margin: 0;
  font-size: 1em;
  padding-right: 8px;
  color: $whiteColor;
}

.star {
  color: $gold;
  margin-right: 0.1em;
}

.flipCard {
  perspective: 1000px;
  width: 200px;
  height: 300px;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flipCardFront {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.flipCardBack {
  background-color: $blackColor;
  color: $whiteColor;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 4px 8px $purpleColor;
  transform: rotateY(180deg);
}

.gameDescription {
  font-size: 0.9em;
  margin: 10px 0;
  text-align: justify;
}

.ageRating {
  font-size: 1em;
  margin: 10px 0;
}

.addToCartButton {
  background-color: $purpleColor;
  color: $whiteColor;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
  transition:
    background-color 0.3s,
    transform 0.2s;
  z-index: 2;
}

.addToCartButton:hover {
  background-color: $purpleColor;
}

.addToCartButton:active {
  transform: translateY(2px);
}

.addToCartButton:focus {
  box-shadow: 0 0 0 3px $purpleColor;
}

.addToCartButton:focus-within {
  box-shadow: 0 0 0 3px $purpleColor;
}

.flipCard:hover .flipCardInner {
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
