.dropdownContent {
  color: $whiteColor;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}
