.footerContainer {
  display: flex;
  gap: 300px;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;
  color: $whitTextColor;
  height: $footerHeight;
  padding: 20px 0;
}

.footerDetails {
  border-bottom: 2px solid #53216b;
}

.footerCreator {
  margin-bottom: 10px;
}

.footerCompany {
  margin-bottom: 5px;
}

.gamesList {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #53216b;
  height: 50px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  width: 50px;
  overflow: hidden;
}

.imageContainerRiot {
  display: flex;
  justify-content: center;
  width: 80px;
  overflow: hidden;
}

.listItems {
  margin: auto;
}

.gameLogo {
  width: 35px;
  height: auto;
  transition: width 0.2s ease;
}

.gameLogo:hover {
  overflow: visible;
  width: 40px;
}

.riotLogo {
  width: 70px;
  height: auto;
  transition: width 0.2s ease;
}

.riotLogo:hover {
  overflow: visible;
  width: 80px;
}
