.searchInputSpinner {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 15px;
  height: 40px;
  border-radius: 15px;
  color: $whiteColor;
  background-color: rgba($blackColor, 0.5);
  border: 1.5px solid $basicColor;
}

.searchInputSpinner > input {
  border: 0;
  background-color: rgba($blackColor, 0);
  color: $whiteColor;
}

.searchInputSpinner > input:focus {
  outline: 0;
}

.searchInputSpinner > img {
  width: 40px;
}
