li > a:hover {
  background-color: $blackColor;
  border-bottom: 6px solid $purpleColor;
}

.active {
  color: $whiteColor;
  background-color: $blackColor;
  border-bottom: 6px solid $purpleColor;
}
