.modalPageOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 15;

  .modalContainer {
    width: 500px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: $backgroundColor;
    text-align: center;

    .modalHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;

      .modalTitle {
        font-size: 20px;
      }

      .closeBtn {
        border: none;
        background-color: $backgroundColor;
        cursor: pointer;
      }

      .closeIcon {
        width: 40px;
        height: 40px;
        filter: invert(50%);
      }
    }

    .submitBtn {
      width: 100px;
      margin: 10px 0;
      padding: 10px;
      color: $whitTextColor;
      background-color: $mainPinkColor;
      border: none;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: $pinkHoverColor;
      }
    }
  }
}
